@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* PAGENATION STYLES */
.pagenationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 50px;
  gap: 1rem;
  align-self: flex-end;
  font-size: 18px;
  font-weight: 500;
}

.pagenationPreviousList{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  max-width: 90px;
  background-color: #373737;
  border-radius: 5px;
  transition: 0.5s;
}

.pagenationPreviousLink{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.pagenationPageList{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #373737;
  width: 100%;
  max-width: 30px;
  border-radius: 5px;
  transition: 0.5s;
}

.pagenationPageLink{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
  width: 100%;
}

.pagenationPreviousList:hover,
.pagenationPageList:hover{
  background-color: #00CE79;
}

.pagenationActive{
  background-color: #00CE79;
}

.pagenationDisabled{
  opacity: 0.3;
}